<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoPAV.Properties.Settings.TP_PAVConnectionString"
            connectionString="Data Source=DESKTOP-0B3JQNF\SQLEXPRESS;Initial Catalog=&quot;TP PAV&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>